{% extends 'adminBase.html.twig' %}

{% block title %}Hello CalendarController!
{% endblock %}

{% block body %}
	<div class="container-fluid p-0">

		<div class="mb-3">
			<h1 class="h3 d-inline align-middle">Calendar</h1>
		</div>

		<div class="card">
			<div class="card-header">
				<h5 class="card-title">FullCalendar</h5>
				<h6 class="card-subtitle text-muted">Open source JavaScript plugin for a full-sized, drag &amp; drop event calendar.</h6>
			</div>
			<div class="card-body">
				<div id="calendar"></div>
			</div>
		</div>
	</div>



{% endblock %}
