{% extends 'adminBase.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		{% include "breadcrumb.html.twig" %}
		<!-- Main content -->
		<section class="content">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Listes exercises</h3>
				</div>
				<!-- /.card-header -->
				<div
					class="card-body"><!-- / Met le code ici du tableau  -->

                    
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
{% endblock %}
